@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* universal select */

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

/* body tag styles */


body{
    font-family:"Merriweather", serif;
}

/* banner styles */

.banner-container{
   width:1320px;
   margin:0 auto;
   margin-top:20px;
   height:600px;
   background-color:rgba(0, 0, 0, 0.4);
   background-image:url("../images/banner-image.png");
   background-position:center;
    background-repeat:no-repeat;
     background-size:cover;
     background-blend-mode:overlay;
     border-radius:10px;
     width:100%;
     height:100%;
}

.banner-content{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:600px;
    align-items:center;

}

.banner-content p, h1{
    color:rgb(255, 255, 255);
    text-align:center;
}

.banner-content p{
    font-size:32px;
    font-weight:400;
}

.banner-content h1{
    font-size:72px;
    font-weight:900;
}

/* 65% section style starts here */

.second-section-container{
    width:802.9px;
    height:806px;
    margin:0 auto;
    margin-top:90px;
}

.second-section-content{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:10px;
}


.second-section-content h1{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 88px;
font-weight: 700;
}
.second-section-content p{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
}

.second-section-content h3{
    color: rgb(7, 2, 17);
font-family: Inter;
font-size: 48px;
font-weight: 700;
}

.image-container{
    width: 802.9px;
height: 500px;
margin-top:50px;
}

.image-container img{
    width:100%;
    height:100%;
}

/* midnight party section styles start here */

.midnight-party-container{
    width:1320px;
    height:600px;
    margin:0 auto;
    margin-top:80px;
    display:flex;
    background-color:rgba(0, 0, 0, 0.5);
    background-image:url('../images/Vectorrr.png');
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    border-radius:15px;
    background-blend-mode: overlay;
    margin-bottom:40px;
}

.leftside-content {
    width:50%;
    width:642px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:70px;
}
.leftside-content h2{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
}
.leftside-content p{
    color: rgba(255, 255, 255, 0.8);
font-family: Inter;
font-size: 18px;
font-weight: 400;
}
.rightside-content {
    width:50%;
    height:600px;
   

}

#midnight-button{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 700;
margin-right: 405px;
margin-top:40px;
padding:3px;
border:4px solid greenyellow;
cursor: pointer;
}
.rightside-content{
   width:50%;
display:flex;
    justify-content:center;
    align-items:center;
}

.rightside-content img{
    width: 349.16px;
    height: 464.65px;
}

/* party schedule section styles start here */

.party-schedule-container{
    width: 1320px;
height: 482px;
margin:0 auto;
background:linear-gradient( rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0));
border-radius: 10px;
margin-top: 100px;
padding:8px;
}

.party-schedule-content{
    width: 100%;
    height:500px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding:50px;
    margin-top:50px;
}

.party-schedule-content p{
    font-family: Inter;
font-size: 32px;
font-weight: 600;
}


.party-schedule-content span{
    color:rgb(255, 0, 0);
}


.party-schedule-btn{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
#btn{
    width: 167px;
height: 56px;
    color: rgb(255, 255, 255);
   background: rgb(255, 0, 0);
font-family: Inter;
font-size: 20px;
font-weight: 700;
padding: 16px 32px 16px 32px;
border:none;
border-radius:10px;
margin-top:70px;
margin-bottom:110px;
cursor: pointer;
}

/* best offer section styles start here */

.bestoffer-section-container{
    width: 1320px;
height: 463px;
margin:0 auto;
margin-top:50px;
}

.bestoffer-content{
    width:100%;
    height:600px;
    display:flex;
    gap:40px;
}

.bestoffer-content1{
    width: 393px;
height: 255px;
width:33%;
height:300px;
margin-top:110px;
text-align:left;
}

.bestoffer-content h4{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
}

.bestoffer-content h1{
    color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
text-align:left;
margin-top:1.2rem;
}

.bestoffer-content p{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
margin-top:1.5rem;
}

.bestoffer-image{
    width:33%;
    height:300px;
    margin-top:50px;
    border:20px solid rgb(255, 100, 0);
    border-radius:100%;
    padding:210px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.bestoffer-image img{
    width: 364.84px;
height: 364.84px;
}

.bestoffer-content2{
    width:33%;
    height:300px;
    margin-top:110px;
}

.bestoffer-content2 h2{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 50px;
font-weight: 700;
}

.bestoffer-content2 p{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
margin-top:1.5rem;
}

.bestoffer-content2 img{
    width: 140px;
height: 140px;
margin-top:80px;
}

/* holiday styles start */

.holiday-section-container{

    width: 1320px;
    height: 986.07px;
    margin:0 auto;
    margin-top:150px;
    position: relative;
}

.holiday-text-container{
    width: 1068px;
height: 260px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    margin:0 auto;
}

.holiday-text-container h5{
    color: rgb(7, 2, 17);
font-family: Inter;
font-size: 24px;
font-weight: 500;
}

.holiday-text-container h2{
    font-family: Merriweather;
font-size: 72px;
font-weight: 900;
line-height: 91px;
letter-spacing: 0%;
text-align: center;
}

.holiday-text-container p{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 500;
}

#holiday{
    color:rgb(255, 0, 0);
}

.solid{
    width: 1320px;
height: 229px;
background-color:rgb(255, 80, 0);
position:absolute;
top:77%;
}

.gift{
    width: 674.82px;
height: 577.96px;
position:relative;
z-index:1;
display:flex;
/* justify-content: center; */
}

.men-container{
    width:429px;
    height: 433px;
    position:relative;
    left:29%;
   top:12%;
}
.men-container img{
    width:429px;
    height: 433px;
}

.discount{
    position:relative;
    bottom:45%;
    left:62%;
    z-index:1;
}

/* best gifts section styles start */

.best-gifts-container{
    width:1320px;
    height:1163px;
    margin:0 auto;
    margin-top:4%;
}

.best-gifts-description{
    width:70%;
    margin:0 auto;
    margin:4rem;
}

.best-gifts-text{
    color:rgb(255, 0, 0);
    font-size:1.6rem;
    font-weight:500;
}

.best-gifts-title{
    color:rgb(7, 2, 17);
    font-size:3rem;
    font-weight:900;
    margin-top:1rem;
}

.best-gifts-introduction{
    color:rgba(7, 2, 17, 0.6);
    font-size:1.25rem;
    font-weight:400;
    margin-top:1rem;
}

.best-gifts-images{
    width:90%;
    margin:0 auto;
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    row-gap:20px;
}

.first-image-card, 
.second-image-card, 
.third-image-card, 
.fourth-image-card, 
.fifth-image-card, 
.sixth-image-card{
    width:380px;
    height:390px;
    border-radius:1rem;
}

.best-gifts-images img{
    width:100%;
    height:100%;
}

/* newsletter section styles start */

.newsletter-section-container{
    width:1320px;
    height:616px;
    margin:0 auto;
    border-radius:1rem;
    background-color:rgba(255, 0, 0, 0.05);
    margin-top:3%;
}

.newsletter-text-content{
    width:50%;
    margin:0 auto;
    text-align:center;
}

.message-image img{
    margin-top:5rem;
}

.newsletter-title{
    color:rgb(7, 2, 17);
    font-size:2.9rem;
    font-weight:900;
    margin-top:1.4rem;
}

.newsletter-introduction{
    color:rgba(7, 2, 17, 0.6);
    font-size:1rem;
    font-weight:400;
    margin-top:1.4rem;
}

.input-content{
    width:50%;
    margin:0 auto;
    margin-top:5%;
    display:flex;
}

.input-content input{
    width:648px;
    height:72px;
    border-radius:2.1rem;
    border:none;
    color:rgba(7, 2, 17, 0.3);
    font-size:1.2rem;
    font-weight:400;
    padding-left:1.5rem;
    position:relative;
}

.input-content button{
    width:215px;
    height:72px;
    border-radius:0 50px 50px 0;
    color:rgb(255, 255, 255);
    background-color:rgb(255, 0, 0);
    border:none;
    font-size:1.25rem;
    font-weight:600;
    position:absolute;
    left:58%;
    cursor:pointer;
}

/* footer styles start */

.footer-container{
   width:100%;
    margin:0 auto;
    margin-top:4%;
    background-color:rgb(7, 2, 17);
}

.footer-information{
    width:80%;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
}

.footer-address, 
.footer-contacts{
    margin-top:7%;
}

.footer-contacts img{
    margin-right:0.4rem;
    margin-bottom:-3%;
}

.footer-address p, 
.footer-contacts p{
    color:rgb(255, 255, 255);
    font-size:1.5rem;
    font-family:Inter;
    font-weight:500;
    margin-top:3%;
}

hr{
    width:80%;
    margin:2.5rem auto;
    border:1px solid rgba(255, 255, 255, 0.15);
}

.footer-social-icons{
    width:24%;
    margin:0 auto;
    display:flex;
    justify-content:space-evenly;
    margin-top:3%;
}

.footer-social-icons img{
    width:55px;
    cursor:pointer;
}

.last-content{
    width:80%;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    margin-top:3%;
}

#rights-reserved, 
#unsubscribe{
    color:rgb(255, 255, 255);
    font-size:1.5rem;
    font-family:Inter;
    font-weight:500;
    margin-bottom:8%;
}